body {
    background-color:rgb(201, 255, 253);
    margin: 30px 30px 30px 30px;
}

.header {
    background-color:rgb(246, 255, 255);
    border-radius: 8px;
    padding: 30px;
    overflow: hidden;
    color: black;
    font-family: Raleway;
    font-size: 18px;
}
.header h1{
    padding-bottom: 10px;
}
#name {
    font-family: Caveat;
    font-size: 42px;
}

/*Navigation bar section*/
.navbar {
    font-size: 18px;
    font-family: Raleway;
    color: black;
    float: left;

}
.navbar a {
    padding: 10px;
    text-decoration: none;
    margin-right: 3px;

    background-color: rgb(175, 175, 175);
    color: rgb(48, 48, 48);
    box-shadow: 3px 2px 2px rgb(57, 57, 57);
    border-radius: 2px;
}
.navbar a:hover {
    background-color: rgb(128, 128, 128);
    color: white;
}

/*Main content*/
.content {
    background-color: rgb(246, 255, 255);
    border-radius: 8px;
    padding: 40px;
    display:block;
    float: none;
    overflow: hidden;
    margin-bottom: 20px;
    font-family: Raleway;
    font-size: 20px;
    color: black;
}

.content p {
    font-family: Raleway;
    font-size: 20px;
}

.content h2 {
    font-family: Raleway;
    font-size: 32px;
}
.content a {
    text-decoration: none;
    color: rgb(0, 34, 255);
}
.content a:hover {
    color: rgb(31, 16, 145);
}
.content img {
    margin-right: 20px;  
    margin-left: 10px; 
}

/*Anything to center/left/right*/
.center {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.center img{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
    font-size: 18px;
}
#center {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*left/right*/
.textbox {
    padding-left: 20px;
    padding-right: 20px;
}

/*Make side nav bar*/
.main {
    float: right;
    width: 77%;
}
.side-bar {
    float: left;
    width: 21%;
}
.side-bar .content .content_wrapper div {
    font-size: 18px;
    line-height: 25px;
    width: 100%;
}


@media only screen and (max-width: 600px) {
    body {
        margin: 25px;
    }
    .header {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
    }
    .navbar a {
        float: none;
        display: block;
        text-align: center;
        padding: 5px;
        margin: 6px;
    }
    .content {
        float: none;
        display: block;
        text-align: left;
    }
    .content h3 {
        font-size: 20px;
    }
    .content a {
        font-size: 18px;
    }
    .content p {
        font-size: 18px;
    }
    .content img {
        max-width: 75%;
        height: auto;
        padding-top: 8px;
    }
    .content embed {
        max-width: 90%;
        height: 600px;
    }
    .textbox {
        padding-left: 5px;
        padding-right: 5px;
    }
    .float-right {
        float: none;
        display: block;
        text-align: left;
        width: 90%;
    }
    .main {
        float: none;
        width: 75%;
        height: auto;
        font-size: 24px;
    }
    #float-left {
        float: none;
        width: 75%;
        height: auto;
        font-size: 24px;
        text-align: center;
    }
    .project {
        overflow: scroll;
        width: 100%;
    }
  }
